<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1> New Order In</h1>
    <p><strong>Ad Brief</strong>: <%= @ad.brief %></p>
    <p><strong>Variations ordered</strong>: <%= @ad.variations %></p>
    <p><strong>Price</strong>: $<%= @ad.price.floor %></p>
  </body>
</html>