#ad_show

	%h1
		Brief: #{@ad.brief}
	%p
		Variations: #{@ad.variations}

	/ -@ad = Ad.find(params[:id])

	= form_for @ad do |f|
		
		/HELPPP 
		/ = link_to "Reorder", ad_path(@ad), method: :put, class: "button"
		

		= link_to "Cancel", root_path, class: "button"

	